.btn {
	display: inline-block;
	height: 63px;
	line-height: 63px;
	font-size: 38px;
	padding: 0 30px;
	color: #00bbf7;
	border: solid 1px #00bbf7;
	border-radius: 5px;
	text-decoration: none;
	.futura();
}