.slider {
	width: 100%;
	margin: 0 auto;
	&__title {
		font-size: 70px;
		.futuraLight();
		color: #fff;
		text-align: center;
		position: relative;
		margin-bottom: 50px;
		padding-top: 35px;
	}
	&__arrow {
		position: absolute;
		top: 50px;
		opacity: 1;
		transition: opacity .3s;
		z-index: 5;
		&_left {
			left: 62px;
		}
		&_right {
			right: 62px;
		}
		&.disabled {
			opacity: .3;
		}
	}
	&__btn {
		position: absolute;
		top: 175px;
		width: 20%;
		height: 600px;
		opacity: .5;
		cursor: pointer;
		z-index: 9;
		&_left {
			left: 0;
			display: none;
		}
		&_right {
			right: 0;
		}
	}
	&__arrow-lock {
		display: none;
		position: absolute;
		top: 0;
		width: 40%;
		height: 150px;
		z-index: 10;
		&_left {
			left: 0;
			display: block;
		}
		&_right {
			right: 0;
		}
	}
	&__list {
		height: 600px;
		list-style: none;
		padding: 0;
		margin: 0;
		padding-left: 111px;
	}
	&__item {
		position: relative;
		width: 800px;
		height: 600px;
		margin-right: 70px;
		&:hover{
			.slider__info {
				opacity: 1;
			}
		}
	}
	&__info {
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		width: 454px;
		height: 102px;
		margin-top: -(102px / 2);
		margin-left: -(454px / 2);
		background: rgba(0,0,0,0.66);
		transition: opacity .5s;
		opacity: 0;
	}
	&__info-link {
		color: #03bbff;
		.futuraLight();
		font-size: 40px;
		line-height: 102px;
		width: 50%;
		text-decoration: none;
		text-align: center;
		transition: color .3s, opacity .3s;
		&:hover {
			color: #fff;
		}
		&:active {
			transition: none;
			opacity: .8;
		}
	}
	&__info-divider {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1px;
		height: 70px;
		margin-top: -(70px / 2);
		background: #808187;
	}
	&__img {
		width: 800px;
		height: 600px;
		border-radius: 3px;
	}
	&__indicators {
		padding-top: 55px;
		padding-bottom: 5px;
	}
}