<section class="section section_form" id="contacts">
	<div class="form">
		<div class="form__inner">
			<header class="form__header">
				<h1 class="form__title">
					Отправьте заявку
				</h1>
				<p class="form__info">
					skeletart (at) gmail.com / +7 989 700-78-73
				</p>
				<p class="form__info">
					skype: r.solodov / facebook / dribbble
				</p>
			</header>
			<div class="form__content">
				<form action="send-mail.php" method="POST">
					<div class="form__row">
						<input type="text" class="input" placeholder="Имя" name="name" required>
					</div>
					<div class="form__row">
						<input type="email" class="input" placeholder="E-mail" name="email" required>
					</div>
					<div class="form__row">
						<textarea class="textarea" placeholder="Сообщение" name="message" required></textarea>
					</div>
					<input type="submit" value="Отправить" class="btn btn_white">
				</form>
			</div>
		</div>
		<div class="hr hr_wide hr_white"></div>
		<div class="form__inner">
			<footer class="form__footer">
				<span class="form__footer-text">Вам ответит</span>
				<img src="img/answer.jpg" alt="" class="form__footer-img">
				<span class="form__footer-text">Роман</span>
			</footer>
		</div>
	</div>
</section>