<section class="section section_form">
	<div class="form">
		<header class="form__header">
			<h1 class="form__title">
				Отправьте заявку
			</h1>
			<p class="form__info">
				skeletart (at) gmail.com / +7 989 700-78-73
			</p>
			<p class="form__info">
				skype: r.solodov / facebook / dribbble
			</p>
		</header>
		<div class="form__content">
			<form action="#">
				<div class="form__row">
					<input type="text" class="input">
				</div>
				<div class="form__row">
					<input type="text" class="input">
				</div>
				<div class="form__row">
					<textarea class="textarea"></textarea>
				</div>
				<input type="submit" value="Отправить" class="btn btn_white">
			</form>
		</div>
		<div class="hr hr_wide hr_white"></div>
		<footer class="form__footer">
			<span class="form__footer-text">Вам ответит</span>
			<img src="img/answer.jpg" alt="" class="form__footer-img">
			<span class="form__footer-text">Роман</span>
		</footer>
	</div>
</section>