<section class="section">
	<div class="guarantees">
		<h1 class="guarantees__title">
			Наши гарантии
		</h1>
		<ul class="guarantees__list">
			<li class="guarantees__item">
				<img src="img/phone.svg" alt="" class="guarantees__img">
				<p class="guarantees__text">
					Элегантный эргономичный интерфейс
				</p>
			</li>
			<li class="guarantees__item">
				<img src="img/lamp.svg" alt="" class="guarantees__img">
				<p class="guarantees__text">
					Индивидуальный подход и нешаблонные решения
				</p>
			</li>
			<li class="guarantees__item">
				<img src="img/operator.svg" alt="" class="guarantees__img">
				<p class="guarantees__text">
					Постоянная коммуникация и плотное взаимодействие
				</p>
			</li>
			<li class="guarantees__item">
				<img src="img/timer.svg" alt="" class="guarantees__img">
				<p class="guarantees__text">
					Четкое соблюдение сроков   и ответственность
				</p>
			</li>
		</ul>
	</div>
</section>