<section class="home">
	<h1 class="home__title">
		Команда “Skelet Art”
	</h1>
	<hr class="hr hr_home">
	<h2 class="home__subtitle">
		Дизайн, который не только продает ваше приложение, но и подчеркивает его уникальность.
	</h2>
	<a href="#" class="btn">
		Как мы работаем
	</a>
	<a href="#" class="home__down">
		<img src="img/arrow-down.svg" alt="" class="home__down-img">
	</a>
</section>