<section class="home">
	<div class="home__container">
		<h1 class="home__title">
			Студия дизайна / Skelet Art /
		</h1>
		<h2 class="home__subtitle">
			Дизайн, который не только продает ваше приложение, но и подчеркивает его уникальность.
		</h2>
	</div>
	<a href="#" class="home__down">
		<span class="home__down-text">
			Как мы работаем
		</span>
		<img src="img/arrow-down.svg" alt="" class="home__down-img">
	</a>
</section>