<section class="home js-home" id="home">
	<video autoplay loop id="homeBgVideo">
		<source src="video/skelet-art.mp4" type="video/mp4">
		<source src="video/skelet-art.ogg" type="video/ogg" />
		<source src="video/skelet-art.webm" type="video/webm">
	</video>
	<div class="home__container">
		<h1 class="home__title">
			Команда “Skelet Art”
		</h1>
		<div class="hr hr_home"></div>
		<h2 class="home__subtitle">
			Дизайн, который не только продает ваше приложение, но и подчеркивает его уникальность.
		</h2>
		<a href="#" class="btn js-goDownBtn">
			Как мы работаем
		</a>
	</div>
	<a href="#" class="home__down js-goDownBtn">
		<img src="img/arrow-down.svg" alt="" class="home__down-img">
	</a>
</section>