<section class="section" id="process">
	<div class="article__inner">
		<!-- Idea -->
		<article class="article article_idea">
			<h1 class="article__title">
				Идея проекта
			</h1>
			<p class="article__text">
				Если ваш проект находится на стадии идеи и вам нужен свежий взгляд, мы поможем развить и преобразовать идею в классную концепцию, которая будет эффектно реализована и востребована на рынке.
			</p>
		</article>
		<div class="hr"></div>
		<!-- UX -->
		<article class="article article_ux">
			<div class="article__img-container">
				<img src="img/ux-1.svg" alt="" class="article__img article__img_1">
				<img src="img/ux-2.svg" alt="" class="article__img article__img_2">
			</div>
			<div class="article__container">
				<h1 class="article__title">
					UX-схема
				</h1>
				<p class="article__text">
					Это очень важный этап. Мы проектируем дружественный интерфейс и решаем, как пользователь будет взаимодействовать с системой. Весь проект представляем в виде единой схемы, на которой отражены переходы между экранами. И каждый, без исключения, экран приложения представлен в виде схематичного прототипа.
				</p>
				<p class="article__text">
					С утвержденной UX-схемой мы присупаем непосредственно к дизайну.
				</p>
			</div>
		</article>
		<div class="hr"></div>
		<!-- Design -->
		<article class="article article_design">
			<div class="article__container">
				<h1 class="article__title">
					Дизайн
				</h1>
				<p class="article__text">
					Этап, на котором интерфейс обретает узнаваемость и эстетику. В дизайне приложения важна каждая деталь, и мы чрезвычайно тщательно подходим к отрисовке графики – от самых больших элементов интерфейса до микроскопических. Каждый значок и каждая стрелочка для нас равноценны и индивидуальны. Это позволяет добиваться высочайшего качества и визуальной целостности.
				</p>
				<p class="article__text">
					Мы знаем тренды и, как результат, любой проект с нашим участием максимально актуален и востребован.
				</p>
			</div>
			<img src="img/design.svg" alt="" class="article__img">
		</article>
		<div class="hr"></div>
		<!-- Icon -->
		<article class="article article_icon">
			<img src="img/icon.svg" alt="" class="article__img">
			<div class="article__container">
				<h1 class="article__title">
					Иконка
				</h1>
				<p class="article__text">
					Завершающая стадия – вкусная деталь готового дизайна. Визуальный образ который, встречает пользователя, завлекая для дальнейшего знакомства с приложением.
				</p>
				<p class="article__text">
					Мы создаём великолепные продающие иконки разных стилей, любых категорий и всех нужных размеров. Посмотрите примеры наших работ на Дрибле.
				</p>
			</div>
		</article>
		<div class="hr"></div>
	</div>
</section>