<section class="section section_projects">
	 <div class="slider ocarousel"
		data-ocarousel-indicator-fill="#6B757E"
		data-ocarousel-indicator-spacing="10"
		data-ocarousel-indicator-strokewidth="0"
		data-ocarousel-indicator-stroke="#FEFFFF"
		data-ocarousel-indicator-r="3">
		<ul class="slider__list ocarousel_window">
			<li class="slider__item">
				<div class="slider__info">
					<a href="#" class="slider__info-link">
						Детали
					</a>
					<div class="slider__info-divider"></div>
					<a href="#" class="slider__info-link">
						App Store
					</a>
				</div>
				<img class="slider__img" src="img/slides/slide-01.jpg" alt="">
			</li>
		</ul>
		<div class="slider__indicators ocarousel_indicators"></div>
	</div>
</section>
<div class="hr"></div>