<section class="section section_projects" id="projects">
	<!-- Arrows -->
	<div class="js-arrowLeftLock slider__arrow-lock slider__arrow-lock_left"></div>
	<div class="js-arrowRightLock slider__arrow-lock slider__arrow-lock_right"></div>
	<a href="#" class="slider__arrow slider__arrow_left js-arrowLeft js-arrow disabled">
		<img src="img/arrow-left.svg" alt="" class="slider__arrow-img">
	</a>
	<a href="#" class="slider__arrow slider__arrow_right js-arrowRight js-arrow">
		<img src="img/arrow-right.svg" alt="" class="slider__arrow-img">
	</a>

	<!-- Additional btns for slider -->
	<div class="slider__btn slider__btn_left js-sliderBtn js-sliderBtnLeft"></div>
	<div class="slider__btn slider__btn_right js-sliderBtn js-sliderBtnRight"></div>
	<!-- Slider -->
	 <div class="slider ocarousel"
		data-ocarousel-indicator-fill="#565354"
		data-ocarousel-indicator-spacing="10"
		data-ocarousel-period="500000"
		data-ocarousel-cycle="1"
		data-ocarousel-indicator-strokewidth="0"
		data-ocarousel-indicator-stroke="#FEFFFF"
		data-ocarousel-wrapearly="0"
		data-ocarousel-perscroll="1"
		data-ocarousel-indicator-r="6">
		<!-- Arrows -->
		<a href="#" data-ocarousel-link="left" class="js-sliderLeft"></a>
		<a href="#" data-ocarousel-link="right" class="js-sliderRight"></a>

		<div class="slider__title">
			<div class="slider__title-text">
				Проекты
			</div>
		</div>
		<span class="ocarousel_pagination_current js-currentSlide hide"></span>
		<ul class="slider__list ocarousel_window js-sliderWindow">
			<li class="slider__item">
				<div class="slider__info">
					<a href="img/slides/slide-01.jpg" class="slider__info-link js-colorbox">
						Детали
					</a>
					<div class="slider__info-divider"></div>
					<a href="#" class="slider__info-link">
						App Store
					</a>
				</div>
				<img class="slider__img" src="img/slides/slide-01.jpg" alt="">
			</li>
			<li class="slider__item">
				<div class="slider__info">
					<a href="img/slides/slide-01.jpg" class="slider__info-link js-colorbox">
						Детали
					</a>
					<div class="slider__info-divider"></div>
					<a href="#" class="slider__info-link">
						App Store
					</a>
				</div>
				<img class="slider__img" src="img/slides/slide-01.jpg" alt="">
			</li>
			<li class="slider__item">
				<div class="slider__info">
					<a href="img/slides/slide-01.jpg" class="slider__info-link js-colorbox">
						Детали
					</a>
					<div class="slider__info-divider"></div>
					<a href="#" class="slider__info-link">
						App Store
					</a>
				</div>
				<img class="slider__img" src="img/slides/slide-01.jpg" alt="">
			</li>
			<li class="slider__item">
				<div class="slider__info">
					<a href="img/slides/slide-01.jpg" class="slider__info-link js-colorbox">
						Детали
					</a>
					<div class="slider__info-divider"></div>
					<a href="#" class="slider__info-link">
						App Store
					</a>
				</div>
				<img class="slider__img" src="img/slides/slide-01.jpg" alt="">
			</li>
		</ul>
		<div class="slider__indicators ocarousel_indicators js-sliderDots"></div>
	</div>
</section>
<div class="hr hr_no-margin-bottom"></div>