<div class="skype-me js-skypeMe">
	<a href="skype:r.solodov" class="skype-me__link">
		<img src="img/skype.svg" alt="" class="skype-me__img">
		<span class="skype-me__container">
			<h3 class="skype-me__title">
				Мы онлайн
			</h3>
			<h4 class="skype-me__subtitle">
				Жмите :)
			</h4>
		</span>
	</a>
</div>