<section class="support">
	<h1 class="support__title">
		Поддержка проекта
	</h1>
	<p class="support__text">
		После того, как интерфейс готов, мы продолжаем работать. Отлаживаем дизайн и контролируем качество на всех этапах внедрения. Мы знаем, как прикручивается дизайн и помогаем в этом разработчикам.
	</p>
	<ul class="support__list">
		<li class="support__item">
			<img src="img/support-1.svg" alt="" class="support__item-img support__item-img_1">
			<p class="support__item-text">
				Подготовка материалов для разработчиков
			</p>
		</li>
		<li class="support__item">
			<img src="img/support-2.svg" alt="" class="support__item-img support__item-img_2">
			<p class="support__item-text">
				Содействие в прикрутке дизайна
			</p>
		</li>
		<li class="support__item">
			<img src="img/support-3.svg" alt="" class="support__item-img support__item-img_3">
			<p class="support__item-text">
				Контроль качества, доработка и развитие
			</p>
		</li>
	</ul>
</section>