<section class="section section_team" id="team">
	<article class="article">
		<h1 class="article__title article__title_center">
			Команда
		</h1>
		<p class="article__text article__text_left article__text_big">
			Скелет Арт – слаженная команда профессионалов. Мы создаем классные приложения и рисуем крутые иконки. Проекты с нашим участием занимают верхние строчки рейтингов в App Store, а иконки и сопутствующий приложениям арт получают высокие оценки в профессиональных дизайн-сообществах.
		</p>
		<p class="article__text article__text_left">
			Мы не гонимся за множеством заказов и не делаем работу по принципу конвейера. Нам интересны проекты, в которых нужно проявлять новаторский подход к проектированию взаимодействия и графике. Максимально эффективно раскрывать потенциал вашей идеи, выполняя свою работу блестяще на всех этапах. Свою профессиональную цель видим в выводе отечественного рынка разработки мобильных приложений на новый качественный уровень.
		</p>
		<!-- Team container -->
		<div class="team">
			<ul class="team__list">
				<li class="team__item wow fadeIn" data-wow-delay="0.2s">
					<img src="img/team/02.jpg" alt="" class="team__img">
					<p class="team__name">
						Евгений
					</p>
					<p class="team__role">
						Иллюстрации и иконки
					</p>
				</li>
				<li class="team__item wow fadeIn" data-wow-delay="0.4s">
					<img src="img/team/03.jpg" alt="" class="team__img">
					<p class="team__name">
						Татьяна
					</p>
					<p class="team__role">
						Куратор
					</p>
				</li>
				<li class="team__item wow fadeIn" data-wow-delay="0.6s">
					<img src="img/team/01.jpg" alt="" class="team__img">
					<p class="team__name">
						Роман
					</p>
					<p class="team__role">
						Проектирование и дизайн
					</p>
				</li>
			</ul>
		</div>
	</article>
</section>
<div class="hr hr_wide"></div>